@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>My Header</h1>
<div class="container">
    @RenderBody()
</div>

<h3>Footer</h3>